* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-family: sans-serif;
}

.app {
  padding: 24px;
}

.dashboard {
  display: grid;

  grid-template-columns:
    360px
    1fr
    1fr;

  gap: 24px;

  margin-top: 24px;
}

.metrics {
  display: grid;

  grid-template-columns:
    repeat(4, 1fr);

  gap: 24px;

  margin-top: 24px;
}

.card {
  background: white;

  border-radius: 24px;

  padding: 24px;

  min-height: 200px;

  border: 1px solid #ececec;
}